.reviews-list {
    margin: 0 50px;
    padding: 20px 108px 20px;

    background-color: #fff;


    border: 1px solid black;
    border-radius: 10px;
    text-align: left;
}

.text {
    text-align: left;
}