.movies-container {
    padding: 0 30px;

}

.movie-card {
    padding: 10px;
}

.movie-list {
    display: flex;
    flex-wrap: wrap;

    padding: 0 60px;
}

.movie-item {
    margin: 20px;
    width: 300px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgb(177, 177, 177);
    background-color: #fff;
    transition: .25s;

}

.movie-img {
    width: 250px;
    height: auto;
    // overflow: hidden;
}

.form {
    display: flex;
    align-items: center;
    justify-content: left;
    margin: 30px;
    height: 30px;
}

.form-input {
    width: 400px;
    height: 25px;

    border: 1px solid black;
    border-radius: 5px;
    outline-style: none;

    font-size: 15px;
    font-weight: 700;
    line-height: 15px;

}

.form-btn {
    margin-left: 30px;
    width: 108px;
    height: 30px;

    font-size: 15px;
    font-weight: 700;
    line-height: 15px;

    color: rgb(255, 255, 255);
    background-color: rgb(0, 51, 146);

    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover, :focus {
        color: rgb(153, 252, 175);
    }
}

.movies-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 50px 30px;
}